# OS
.DS_Store
Thumbs.db
.directory

# Editors
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Vim
*.swp
*.swo

# Python
__pycache__/
*.pyc
.venv/
env/

# Node
node_modules/

# Logs
*.log

# Temporary Files
*.tmp

# Shell History
.zsh_history
.bash_history

# Secret Environment
.env
.env.*

# FastFetch Backups
*.bak

# Cache
.cache/
